/* #box{
    background-color:blue;
    color:white;
}
heading{
    color :red
}
button{
    background-color:green
 }  */
/*div{
    height: 100px;
    width: 100px;
    color: white;
    position: relative;
    left: 30px;
    bottom: -300px;
background-image: url("photo.jpg.jpg");
background-size: cover;
}